@model mvc201701.Models.Module03.Person
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Test</h1>
    Name = @Model.Name
</body>
</html>
