
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<ul>
    <li><a href="/module03/index">Module03 index</a></li>
    <li><a href="/module03/index2">Module03 index2</a></li>
</ul>
</body>
</html>
