
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model1</title>
</head>
<body>

    <form action="/Module04/Model1" method="post">
        <input type="text" name="name" value="" />
        <input type="text" name="number" value="" />
        <input type="text" name="number2" value="" />
        @*<input type="checkbox" checked value="true" name="IsAdmin"  />*@
        <input type="submit" name="btn" value="Click" />
    </form>

</body>
</html>
