@model mvc201701.Models.Module03.Person
@*@model dynamic*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>view</title>
</head>
<body>
    <div> 
        @Model.Name
    </div>
</body>
</html>
